@model DTO.Deliveryman

@{
    ViewData["Title"] = "HomeDeliveryman";
}

<h2>HomeDeliveryman</h2>

<div>
    <h4>Deliveryman</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdDeliveryman)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdDeliveryman)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Login)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Login)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FK_idCity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FK_idCity)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Voir les livraisons", "ShowDeliverys", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
