@model IEnumerable<RestaurantCityViewModel>

@{
    ViewData["Title"] = "ListeRestaurant";
}

<h2>ListeRestaurant</h2>


<table class="table">
    <thead>
        <tr>

            <th>
                Name
            </th>

            <th>
                Address
            </th>

            <th>
                City
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Restaurants.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Restaurants.Address)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Cities.Zip_code) 
                @Html.DisplayFor(modelItem => item.Cities.Name)
            </td>

            <td>
                @Html.ActionLink("Select", "CreateOrder", new { id = item.Restaurants.IdRestaurant })
            </td>
        </tr>
}
    </tbody>
</table>
