@model IEnumerable<DishOrderDishViewModel>

@{
    ViewData["Title"] = "ListOrder_Dish";
}

<h2>ListOrder_Dish</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                Numero de la commande
            </th>
            <th>
                Nom du plat
            </th>
            <th>
                Quantite
            </th>
            <th>
                Prix
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Order_Dishes.FK_idOrder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dishes.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Order_Dishes.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dishes.Price)
                </td>

            </tr>
        }
    </tbody>
</table>
<a>@Html.ActionLink("Ajouter un plat", "AddDish", new {/*  id=item.PrimaryKey */ })</a>
<p><a>@Html.ActionLink("Continuer", "ChooseDeliveryTime", new {/*  id=item.PrimaryKey */ })</a></p>