@model IEnumerable<WebApplication.Models.DeliveryDetailsViewModel>
<!-->
     Affiche la liste des livraisons d'un livreur.
     Il peut cliquer sur un bouton pour que la livraison soit considérée comme effectuée
     Il y a un bouton pour revenir à la page d'accueil du Livreur
-->

@{
    ViewData["Title"] = "Liste des livraisons";
}

<h2>Liste des livraisons</h2>

<a asp-controller="Deliveryman" asp-action="HomeDeliveryman">Retour à l'accueil Livraison</a>

<table id="tableSortedByIdOrder" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                Numéro de livraison
            </th>

            <th>
                Statut
            </th>
            <th>
                Numéro de commande
            </th>
            <th>
                Nom restaurant
            </th>
            <th>
                Heure de livraison
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Deliverys.IdDelivery)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deliverys.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Orders.IdOrder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Restaurants.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Delivery_Times.Delivery_time)
                </td>
                <td>
                    @if (item.Orders.Status == "A livrer")
                    {
                        <div align="center">
                            <a id="@item.Deliverys.IdDelivery" asp-controller="Delivery" asp-action="DeliveryDone" asp-route-id="@item.Deliverys.IdDelivery" class="btn btn-success" role="button">Livraison effectuée</a>
                        </div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
