@model IEnumerable<DTO.Delivery>

@{
    ViewData["Title"] = "ListDeliverys";
}

<h2>ListDeliverys</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdDelivery)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created_at)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FK_idOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FK_idRestaurant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FK_idDelivery_Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FK_idDeliveryman)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdDelivery)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created_at)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FK_idOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FK_idRestaurant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FK_idDelivery_Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FK_idDeliveryman)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
