@model IEnumerable<OrderDetailsViewModel>

    <--!>
        Page des détails de la commande. Affiche toutes les infos relatives à la commande
        Petit bug, cela n'affiche qu'un seul plat, quantité et prix. Le total est donc erroné si il y a plusieurs plats...
        Bouton Valider lorsque la commande est satisfaisante
        Bouton annuler pour annuler cette commande
        Bouton Retour en arrière (Choix de l'heure de livraison')
    </--!>
@{
    ViewData["Title"] = "Votre commande";
    int totalFinal = 5;
}

<h2>Votre commande</h2>

@foreach (var item in Model)
{
    totalFinal += (item.Order_Dishes.Quantity * item.Dishes.Price);
    <div>
        <dl class="dl-horizontal">
            <dt style="width:200px">
                Prénom et Nom :
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.Customers.Name)
                @Html.DisplayFor(modelItem => item.Customers.LastName)
            </dd>
            <dt style="width:200px">
                Adresse de livraison :
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.Customers.Address)
                @Html.DisplayFor(modelItem => item.Cities.Zip_code)
                @Html.DisplayFor(modelItem => item.Cities.Name)
            </dd>
            <dt style="width:200px">
                Heure de livraison :
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.Delivery_Times.Delivery_time)
            </dd>
            <dt style="width:200px">
                Restaurant :
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.Restaurants.Name)
            </dd>
            <dt style="width:200px">
                Numéro de la commande :
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.Orders.IdOrder)
            </dd>

            <dt style="width:200px">
                Commande détaillée :
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.Order_Dishes.Quantity)
                @Html.DisplayFor(modelItem => item.Dishes.Name)
                @Html.DisplayFor(modelItem => item.Dishes.Price) CHF unité
            </dd>
            <dt style="width:200px">
                Total finale de la commande :
            </dt>
            <dd>
                @totalFinal CHF (comprend les 5 francs de frais de transport)
            </dd>
        </dl>
    </div>
}

<div class="col-sm-6" align="center">
    <a asp-controller="Order" asp-action="Valider" class="btn btn-success" role="button">Valider</a>
</div>
<div class="col-sm-6" align="center">
    <a asp-controller="Order" asp-action="Annuler" class="btn btn-danger" role="button">Annuler</a>
</div>
<a asp-controller="Delivery_Time" asp-action="ChooseDeliveryTime">Retour au choix de l'heure</a>

