@model IEnumerable<DTO.Order>

@{
    ViewData["Title"] = "ShowOrder";
}

<h2>ShowOrder</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created_at)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FK_idCustomer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created_at)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FK_idCustomer)
            </td>
            <td>
                @Html.ActionLink("Confirmer la commande", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Annuler la commande", "Edit", new { /* id=item.PrimaryKey */ }) 
            </td>
        </tr>
}
    </tbody>
</table>
